.card-container{
    border: solid 4px #337ab7;
    border-radius: 5px;
    display: inline-block;
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 80px;
    margin: 3px;
    background-color: #ffffff;
}

.card-blue{
    background-color: #337ab7;
}

.card-selected{
    border-color: #f0ad4e;
}

.card-up{
    position: relative;
    top: -20px;
}

.played-card{
    vertical-align: top;
    width: 80px;
    display: inline-block;
    margin: 3px;
}

.card-back{
    color: #ffffff;
}

.card-owner{
    text-align: center;
}

.score-col, .card-options-col{
    height:100%;
    margin: 23px 0px 3px 0px;
    padding: 3px 0px 3px 0px;
}

#score{
    padding: 34px 0px 34px 0px;
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    height: 105px;
}

#score2{
    height: 20px;
}

#score, #score2{
    text-align: center;
}

#game-board{
    min-height: 160px;
    margin: 3px 0px 3px 0px;
    padding: 3px 0px 3px 0px;
}

#players{
    list-style: none;
}

.players-col ul{
    padding-left: 3px;
}

.players-col ul li{
    padding-left: 3px;
    margin: 3px;
}

.card-played{
    background-color: #90EE90;
}

.glyphicon-user{
    margin: 3px 3px 0px 0px;
}

#cardsInPlay label{
    display: block;
}

#cardsInPlay div{
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.mod, .players-col{
    margin-top: 10px;
}

/*#cardsInPlay .card-container{
    border: solid 4px #337ab7;
    border-radius: 5px;
    display: inline-block;
    padding: 14px 0px 8px 0px;
    text-align: center;    
    font-size: 12px;
    width: 38px;
    margin: 3px;
}*/

#scoreEdit{
    height: 60px;
    width: 170px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width:700px) { 
    #card-options .card-container:hover{
        border-color: #f0ad4e;
        cursor: pointer;
    }

    #players li:hover{
        background-color: #90EE90;
        cursor: pointer;
    }
}